.character-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100;
    border: 1px solid black;
    gap: 20px;
}

.character-list li {
    list-style: none;
    border: 1px solid blue;
    background-color: white;
    justify-items: center;
    align-items: center;
    width: 100;
}
