@font-face{
    font-family: "Bob\'s Burgers";
    src: url(/fonts/Bobs_Burgers.ttf);
}

h1 {
    font-family: "Bob\'s Burgers";
}

body {
    background-image: url("/images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}